extends ../layouts/default

block content
	.container
		.row
			.col-md-3
				include ../layouts/side-navi.jade
			.col-md-9
				.thumbnail
					img.img-responsive(src='/productimages/'+data.products.image.filename, alt='')
					.caption-full
						h4.pull-right ￥ #{data.products.price}
						h4
							a(href='#') #{data.products.name}
						p
							| 产品描述：#{data.products.description}
						p
							| 产品信息：#{data.products.info}
